main.container.fullscreen
    form#quiz(action="#")
        .quiz-column.quiz-aside
            .quiz-logo
                img(src="./assets/images/logo-transparent.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-1.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-2.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-3.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-4.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-5.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-6.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-7.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-8.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-9.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-10.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-11.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-12.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-13.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-14.webp" loading="lazy")
            img.quiz-aside-img(src="./assets/images/q-15.webp" loading="lazy")

        .quiz-column.quiz-content
            .quiz-header
                .quiz-progress-wrap
                    #quiz-progress
                        .quiz-progress-value
                    #prev-q
                        include ../_icons/sign-in
                .quiz-counter#current-q

            .quiz-footer
                button.btn-large#next-q(type="button") Далее

            //- q-1
            .quiz-question
                h3 Выберите свой тип тела
                p Выберите тот, который больше всего похож на ваш сейчас.

                .quiz-answer-frame
                    label.input-radio
                        img.mob-icon(src="./assets/images/q-1-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-1" value="Эктоморф" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-answer
                            .input-radio-main-text Эктоморф
                            .input-radio-desc-text Немного жира и мышц. Трудно набрать вес.
                    label.input-radio
                        img.mob-icon(src="./assets/images/q-1-mob-icon_2.webp" loading="lazy")
                        input(type="radio" name="q-1" value="Мезоморф" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-answer
                            .input-radio-main-text Мезоморф
                            .input-radio-desc-text Легко теряет жир и быстро набирает мышцы.
                    label.input-radio
                        img.mob-icon(src="./assets/images/q-1-mob-icon_3.webp" loading="lazy")
                        input(type="radio" name="q-1" value="Эндоморф" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-answer
                            .input-radio-main-text Эндоморф
                            .input-radio-desc-text Легко набирает вес по сравнению с другими типами тела.

                .quiz-extra-content
                    .quiz-extra-content-column.quiz-extra-content-img
                        img(src="./assets/images/q-1_2.webp" loading="lazy")
                    .quiz-extra-content-column
                        h4 Тест для определения типа тела
                        p Захватите противоположное запястье большим и указательным пальцами. Если вы правша, схватите левое запястье правой рукой. Помните, нет хороших или плохих типов тела.
                        h4 Большой и указательный палец:
                        p Эктоморф - обертывание с легкостью
                            br
                            | Мезоморф - прикосновения друг к другу
                            br
                            | Эндоморф - не вступает в контакт

            //- q-2
            .quiz-question
                h3 Выберите проблемные области

                .quiz-answer-frame
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-2-mob-icon_1.webp" loading="lazy")
                        input(type="checkbox" name="q-2" value="Слабая грудь")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Слабая грудь
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-2-mob-icon_2.webp" loading="lazy")
                        input(type="checkbox" name="q-2" value="Тонкие руки")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Тонкие руки
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-2-mob-icon_3.webp" loading="lazy")
                        input(type="checkbox" name="q-2" value="Пивной живот")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Пивной живот
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-2-mob-icon_4.webp" loading="lazy")
                        input(type="checkbox" name="q-2" value="Большие бока")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Большие бока
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-2-mob-icon_5.webp" loading="lazy")
                        input(type="checkbox" name="q-2" value="Тонкие ноги")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Тонкие ноги

            //- q-3
            .quiz-question
                h3 Ваши физические показатели
                .quiz-answer-frame
                    label.input-text
                        img.mob-icon(src="./assets/images/q-3-mob-icon_1.webp" loading="lazy")
                        input(type="number" name="q-3" placeholder="Рост")
                        span См
                    label.input-text
                        img.mob-icon(src="./assets/images/q-3-mob-icon_2.webp" loading="lazy")
                        input(type="number" name="q-3" placeholder="Вес")
                        span Кг
                    label.input-text
                        img.mob-icon(src="./assets/images/q-3-mob-icon_3.webp" loading="lazy")
                        input(type="number" name="q-3" placeholder="Целевой вес")
                        span Кг

            //- q-4
            .quiz-question 
                h3 Уровень физической подготовки
                p Какой у тебя уровень физической подготовки?
                p Выберите свой текущий уровень физической подготовки, чтобы согласовать план тренировок.
                .quiz-answer-frame
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-4-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-4" value="Не занимаюсь фитнесом" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Не занимаюсь фитнесом
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-4-mob-icon_2.webp" loading="lazy")
                        input(type="radio" name="q-4" value="Занимаюсь 1-2 раза в неделю" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Занимаюсь 1-2 раза в неделю
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-4-mob-icon_3.webp" loading="lazy")
                        input(type="radio" name="q-4" value="Занимаюсь 2-3 раза в неделю" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Занимаюсь 2-3 раза в неделю
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-4-mob-icon_4.webp" loading="lazy")
                        input(type="radio" name="q-4" value="Занимаюсь 4 и более раз в неделю" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Занимаюсь 4 и более раз в неделю

            //- q-5
            .quiz-question 
                h3 Нравится или не нравится
                .quiz-answer-frame
                    .quiz-liker(data-name="q-5")
                        .swiper
                            .swiper-wrapper
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-5_liker_1.webp" loading="lazy")
                                    .quiz-liker-desc Приседания
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-5_liker_2.webp" loading="lazy")
                                    .quiz-liker-desc Подтягивания
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-5_liker_3.webp" loading="lazy")
                                    .quiz-liker-desc Отжимания
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-5_liker_4.webp" loading="lazy")
                                    .quiz-liker-desc Выпады
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-5_liker_5.webp" loading="lazy")
                                    .quiz-liker-desc Планка

                        .quiz-liker-vote-group
                            .quiz-liker-vote.yes(data-val="Да")
                                include ../_icons/like
                                | Да
                            .quiz-liker-vote.neutral(data-val="Нейтрально") Нейтрально
                            .quiz-liker-vote.no(data-val="Нет") 
                                include ../_icons/like
                                | Нет
                        .quiz-liker-voted-message Готово!
            //- q-6
            .quiz-question
                h3 Сталкивались ли вы с какими-либо из этих проблем
                p в своих предыдущих попытках фитнеса?
                .quiz-answer-frame
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-6-mob-icon_1.webp" loading="lazy")
                        input(type="checkbox" name="q-6" value="Отсутствие мотивации")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Отсутствие мотивации
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-6-mob-icon_2.webp" loading="lazy")
                        input(type="checkbox" name="q-6" value="У меня не было четкого плана")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text У меня не было четкого плана
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-6-mob-icon_3.webp" loading="lazy")
                        input(type="checkbox" name="q-6" value="Мои тренировки были слишком тяжелыми")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Мои тренировки были слишком тяжелыми
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-6-mob-icon_4.webp" loading="lazy")
                        input(type="checkbox" name="q-6" value="Занимаюсь 4 и более раз в неделю")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Занимаюсь 4 и более раз в неделю

            //- q-7
            .quiz-question
                h3 Как менялся ваш вес за последний год?

                .quiz-answer-frame
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-7-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-7" value="Увеличился" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Увеличился
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-7-mob-icon_2.webp" loading="lazy")
                        input(type="radio" name="q-7" value="Уменьшился" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Уменьшился
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-7-mob-icon_3.webp" loading="lazy")
                        input(type="radio" name="q-7" value="Вес не менялся" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Вес не менялся

            //- q-8
            .quiz-question
                h3 Во сколько вы обычно завтракаете?

                .quiz-answer-frame
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-8" value="С 6 до 8 утра" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 6 до 8 утра
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-8" value="Между 8 и 10 часами утра" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Между 8 и 10 часами утра
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-8" value="С 10 утра до полудня" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 10 утра до полудня

            //- q-9
            .quiz-question
                h3 Во сколько вы обычно обедаете?

                .quiz-answer-frame
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-9" value="С 10 утра до 12" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 10 утра до 12
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-9" value="С 12 до 14 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 12 до 14 часов
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-9" value="С 14 до 16 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 14 до 16 часов
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-9-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-9" value="Я обычно пропускаю обед" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Я обычно пропускаю обед

            //- q-10
            .quiz-question
                h3 Во сколько вы обычно ужинаете?

                .quiz-answer-frame
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-10" value="С 16 до 18 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 16 до 18 часов
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-10" value="С 18 до 20 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 18 до 20 часов
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-10" value="С 20 до 22 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 20 до 22 часов
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-9-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-10" value="Я обычно пропускаю обед" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Я обычно пропускаю ужин


            //- q-11
            .quiz-question 
                h3 Нравится или не нравится
                .quiz-answer-frame
                    .quiz-liker(data-name="q-11")
                        .swiper
                            .swiper-wrapper
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-11_liker_1.webp" loading="lazy")
                                    .quiz-liker-desc Свинина
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-11_liker_2.webp" loading="lazy")
                                    .quiz-liker-desc Говядина
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-11_liker_3.webp" loading="lazy")
                                    .quiz-liker-desc Курица
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-11_liker_4.webp" loading="lazy")
                                    .quiz-liker-desc Индейка
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-11_liker_5.webp" loading="lazy")
                                    .quiz-liker-desc Рыба
                                .swiper-slide.quiz-liker-item
                                    img.quiz-liker-img(src="./assets/images/q-11_liker_6.webp" loading="lazy")
                                    .quiz-liker-desc Морепродукты

                        .quiz-liker-vote-group
                            .quiz-liker-vote.yes(data-val="Да")
                                include ../_icons/like
                                | Да
                            .quiz-liker-vote.neutral(data-val="Нейтрально") Нейтрально
                            .quiz-liker-vote.no(data-val="Нет") 
                                include ../_icons/like
                                | Нет
                        .quiz-liker-voted-message Готово!

            //- q-12
            .quiz-question
                h3 В котором часу в среднем вы просыпаетесь?

                .quiz-answer-frame
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-12" value="С 6 до 8 утра" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 6 до 8 утра
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-12" value="Между 8 и 10 часами утра" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Между 8 и 10 часами утра
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-8-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-12" value="С 10 утра до полудня" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text С 10 утра до полудня

            //- q-13
            .quiz-question
                h3 Сколько часов в среднем вы спите?

                .quiz-answer-frame
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-13-mob-icon_1.webp" loading="lazy")
                        input(type="radio" name="q-13" value="Менее 5 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Менее 5 часов
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-13-mob-icon_2.webp" loading="lazy")
                        input(type="radio" name="q-13" value="5-6 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text 5-6 часов
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-13-mob-icon_3.webp" loading="lazy")
                        input(type="radio" name="q-13" value="7-8 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text 7-8 часов
                    label.input-radio.fz-medium
                        img.mob-icon(src="./assets/images/q-13-mob-icon_4.webp" loading="lazy")
                        input(type="radio" name="q-13" value="Более 8 часов" autonext)
                        .input-icon
                            include ../_icons/check-box
                        .input-radio-main-text Более 8 часов

            //- q-14
            .quiz-question
                h3 Ваши вредные привычки

                .quiz-answer-frame
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-14-mob-icon_1.webp" loading="lazy")
                        input(type="checkbox" name="q-14" value="Алкоголь")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Алкоголь
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-14-mob-icon_2.webp" loading="lazy")
                        input(type="checkbox" name="q-14" value="Сигареты")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Сигареты
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-14-mob-icon_3.webp" loading="lazy")
                        input(type="checkbox" name="q-14" value="Много сладкого")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Много сладкого
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-14-mob-icon_4.webp" loading="lazy")
                        input(type="checkbox" name="q-14" value="Много кофе")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Много кофе
                    label.input-checkbox.fz-medium
                        img.mob-icon(src="./assets/images/q-14-mob-icon_5.webp" loading="lazy")
                        input(type="checkbox" name="q-14" value="Газировка")
                        .input-icon
                            include ../_icons/check-box
                        .input-checkbox-main-text Газировка
            
            //- q-15
            .quiz-question
                h3 Получите свой фитнес план сегодня
                p для набора мышечной массы
                .quiz-answer-frame
                    label.input-text.email
                        img.mob-icon(src="./assets/images/q-15-mob-icon_1.webp" loading="lazy")
                        input(type="email" name="q-15" placeholder="Введите вашу почту" required)