.pay-info 
    .pay-info-item-group
        .pay-info-item
            include ../_icons/guard
            span Гарантия возврата средств
        .pay-info-item
            include ../_icons/currency
            span Без скрытых платежей
        
    .pay-info-method-group
        include ../_icons/mastercard
        include ../_icons/visa
        include ../_icons/mir