footer
    .container.footer-contacts
        .footer-item-group
            .footer-contact-email
                span Поддержка пользователей: 
                a(href="mailto:helpdesk@manmuscles.ru") helpdesk@manmuscles.ru
            .footer-contact-link-group
                a.footer-contact-link(href="#")
                    include ../includes/_icons/bookmark
                    span Блог
                a.footer-contact-link(href="#")
                    include ../includes/_icons/info
                    span О нас
        .footer-item-group
            a.app-link(href="#")
                include ../includes/_icons/google-play
            span.organization-info ООО ЛАДЕР, ОГРН 1224600002440
    .footer-bottom
        .container
            .footer-link-group
                a.footer-link(href="#") Политика конфеденциальности
                a.footer-link(href="#") Публичная Оферта
                a.footer-link(href="#") Политика возврата
                a.footer-link(href="#") Оферта рекуррентных платежей
                a.footer-link(href="#") Политика возврата
                a.footer-link(href="#") Оферта рекуррентных платежей
            #warn
                include ../includes/_icons/warn
                span Мы рекомендуем Вам проконсультироваться с врачом перед началом любой программы упражнений и плана питания